@font-face {
  font-family: 'iconfont';
  src:
    url('/fonts/icomoon.woff2?t=1716210197380') format('woff2'),
    url('/fonts/icomoon.woff?t=1716210197380') format('woff'),
    url('/fonts/icomoon.ttf?t=1716210197380') format('truetype');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-heart:before {
  /**/
  content: '\e930';
}

.icon-codepen:before {
  /**/
  content: '\e90b';
}

.icon-instagram:before {
  /**/
  content: '\e916';
}

.icon-steam:before {
  /**/
  content: '\e926';
}

.icon-telegram:before {
  /**/
  content: '\e929';
}

.icon-twitch:before {
  /**/
  content: '\e92e';
}

.icon-github:before {
  /**/
  content: '\e912';
}

.icon-down:before {
  /**/
  content: '\e903';
}

.icon-map:before {
  /**/
  content: '\e92d';
}

.icon-more:before {
  /**/
  content: '\e91e';
}

.icon-left:before {
  /**/
  content: '\e905';
}

.icon-right:before {
  /**/
  content: '\e908';
}

.icon-rss:before {
  /**/
  content: '\e923';
}

.icon-ghost:before {
  /**/
  content: '\e900';
}

.icon-contacts-book:before {
  /**/
  content: '\e933';
}

.icon-x:before {
  /**/
  content: '\e92f';
}

.icon-pen:before {
  /**/
  content: '\e921';
}

.icon-t-box:before {
  /**/
  content: '\e928';
}

.icon-hearts:before {
  /**/
  content: '\e915';
}

.icon-text:before {
  /**/
  content: '\e92a';
}

.icon-pushpin:before {
  /**/
  content: '\e920';
}

.icon-arrow-left-up:before {
  /**/
  content: '\e906';
}

.icon-computer:before {
  /**/
  content: '\e932';
}

.icon-file-list:before {
  /**/
  content: '\e90f';
}

.icon-link:before {
  /**/
  content: '\e917';
}

.icon-flask:before {
  /**/
  content: '\e910';
}

.icon-folder:before {
  /**/
  content: '\e911';
}

.icon-hashtag:before {
  /**/
  content: '\e913';
}

.icon-archive:before {
  /**/
  content: '\e902';
}

.icon-calendar:before {
  /**/
  content: '\e90a';
}

.icon-mail:before {
  /**/
  content: '\e91a';
}

.icon-pantone:before {
  /**/
  content: '\e91f';
}

.icon-quotes-l:before {
  /**/
  content: '\e90c';
}

.icon-quotes-r:before {
  /**/
  content: '\e90d';
}

.icon-heart:before {
  /**/
  content: '\e914';
}

.icon-bilibili:before {
  content: '\e7c8';
}

.icon-rocket:before {
  /**/
  content: '\e901';
}

.icon-arrow-left:before {
  /**/
  content: '\e904';
}

.icon-arrow-right:before {
  /**/
  content: '\e907';
}

.icon-external-link:before {
  /**/
  content: '\e90e';
}

.icon-loader:before {
  /**/
  content: '\e919';
}

.icon-menu:before {
  /**/
  content: '\e91c';
}

.icon-search:before {
  /**/
  content: '\e924';
}

.icon-share:before {
  /**/
  content: '\e925';
}

.icon-timer:before {
  /**/
  content: '\e92c';
}

.icon-moon:before {
  /**/
  content: '\e91d';
}

.icon-sun:before {
  /**/
  content: '\e927';
}

.icon-bluesky:before {
  /**/
  content: '\e909';
}

.icon-discord:before {
  /**/
  content: '\e934';
}

.icon-linkedin:before {
  /**/
  content: '\e918';
}

.icon-mastodon:before {
  /**/
  content: '\e91b';
}

.icon-tiktok:before {
  /**/
  content: '\e92b';
}

.icon-youtube:before {
  /**/
  content: '\e931';
}
